<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>SignUP</title>
</head>
<body>
    <div class="from-container">
        <h2> SignUp </h2>
        <form action="/signup" method="post">
            <div class="from-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="username" placeholder="enter username " required autocomplete="off">
            </div>
            <dir class="from-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter password" required>
            </dir>
            <button type="submit" class="submit-btn">SignUp</button>
        </form>
       
    </div>
</body>
</html>